*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* NAV BAR */



/* INDEX PAGE */
body{

    background-color: lightblue;
}
.container{
    display: flex;
    justify-content: center;
    text-align:left;
    flex-direction: column;
    
}

#displaydata{
    margin:10px;
    height:200px;
    overflow-y:scroll;
    background-color: aliceblue;
    padding: 20px;
}

/* INDEX TABLE */


    
#table1 a {
    text-decoration: none; /* Removes underline from links */
    color: inherit; 
}

#table1 tr:hover,#table2 tr:hover{
    cursor:pointer;
}


.dataTables_wrapper {
    background: rgba(10, 23, 55, 0.7);

}
  
table.dataTable thead th {
    background-color: rgba(16, 30, 57, 0.8);
    color: #00d4ff; /* Bright neon blue */
    text-shadow: 0 0 6px #00d4ff;
}

table.dataTable tbody tr {
    background-color: rgba(5, 12, 25, 0.6); 
}
table.dataTable tbody tr:hover {
    background-color: rgba(5, 12, 25, 0.8); 
}

table.dataTable tbody td:not(:last-child) {
    color: #8cc2ff; 
    text-shadow: 0 0 2px #00d4ff; 
}

/* dt-paging-button disabled first
dt-paging-button disabled previous
dt-paging-button current
dt-paging-button
ellipsis
dt-paging-button next

text in bottom left: dt-layout-cell dt-start 
text top left: dt-layout-cell dt-start 
search bar: dt-search
dt-paging-button last */







/* FUNDS PAGE */

.funds{
    display: block;
    position: relative;
    text-align: center;
    justify-content: center;
    width:600px;
    height:400px;
    border:3px solid rgb(168, 168, 202);
    background-color: lightblue;
    border-radius:15px;
    padding-top:80px;
    margin: auto;
    top:50px;
    
}



/* MODAL */


.modal-footer{
    justify-content: start;
}

.modal-body{
    flex:0;
    justify-content: start;
    text-align: left;

}

#modal-error{
    display:none;
    color:red;
    
}

/* VIEW COIN PAGE */

.coincontainer{
    display: flex;
    flex-direction: row;
    margin:none;
}

.coincontainer form{
    width:400px;
    margin:10px;
}

.coincontainer form button{
    width:100%;
}

.input-group-append{
    width:60px;
}
.input-group-text{
    justify-content: center;
}

.available-label{
    display: block;
    margin: 0;
    padding: 0;
}

.buttonscontainer{
    display: flex;
    justify-content: end;
    gap:10px
}

.buttonscontainer > {
    display: flex;
    justify-content: end;
}

.chartcontainer{
    max-width:1200px;
}