*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333333;
}


/* NAV BAR */



/* INDEX PAGE */

.container{
    display: flex;
    justify-content: center;
    text-align:left;
    flex-direction: column;
}

#displaydata{
    margin:10px;
    height:200px;
    overflow-y:scroll;
    background-color: aliceblue;
    padding: 20px;
}

/* INDEX TABLE */
    
#table1 a {
    text-decoration: none; /* Removes underline from links */
    color: inherit; 
}

#table1 tr:hover{
    cursor:pointer;
    background: rgb(241, 241, 241);
}
