{% extends 'app1/layout.html' %}
{% block body %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
          
                {{ form.as_p }}

            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
            </small><br>
            <small class="text-muted">
                <a href="{% url 'password_reset' %} ">Forgot password?</a>
            </small>
        </div>
    </div>
{% endblock %}